{% for metaobject in shop.metaobjects.music.values %}
  <li>
    {% assign album_link = metaobjects.album_link %}
    {% for link in album_link %}
      {{ link.text | link_to: link.url }}
    {% endfor %}
  </li>
{% endfor %}

{% schema %}
  {
    "name": "Music metas",
    "settings": []
  }
{% endschema %}