{% for metaobject in shop.metaobjects.music.values %}
  <li>
    {{ metaobject.album_link | link_to: metaobject.system.url }}
  </li>
{% endfor %}

{% assign highlights = shop.metaobjects.music.values %}

<div class="product-highlights">
  {% for highlight in highlights %}
    <div class="highlight">
      <h2>{{ highlight.name_of_album }}</h2>
      <p>{{ highlight.album_link | link_to_tag  }}</p>
      <img src="{{ highlight.album_image | image_url: width: 300 }}" alt="">
    </div>
  {% endfor %}
</div>


{% schema %}
  {
    "name": "Music metas",
    "settings": []
  }
{% endschema %}