{% for metaobject in shop.metaobjects.music.values %}
  <li>
    {{ metaobject.music_image | img_tag }}  
  </li>
{% endfor %}

{% schema %}
  {
    "name": "Music metas",
    "settings": []
  }
{% endschema %}