{% for metaobject in shop.metaobjects.music.values %}
  <li>
    {{ "link to" | link_to: metaobject.album_link }}
  </li>
{% endfor %}

{% schema %}
  {
    "name": "Music metas",
    "settings": []
  }
{% endschema %}