{% for metaobject in shop.metaobjects.music.values %}
  <li>
    {{ metaobject.album_link | link_to: metaobject.album_image }}
  </li>
{% endfor %}

{% schema %}
  {
    "name": "Music metas",
    "settings": []
  }
{% endschema %}