{% for metaobject in shop.metaobjects.music.values %}
  <h2>{{ metaobject.name_of_album }}</h2>
  <p>
      <img src="{{ metaobject.album_image | image_url: width: 300 }}" alt="">
  </p>
  <p>
     <a href="{{ metaobject.album_link.value["url"] }}" target="_blank">
       {{ metaobject.album_link.value["text"] }} 
     </a> 
  </p>
{% endfor %}


{% schema %}
  {
    "name": "Music metas",
    "settings": [
      {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ]
  }
{% endschema %}