{% for metaobject in shop.metaobjects.music.values %}
  <h2>{{ metaobject.name_of_album }}</h2>
  <p>
      <img src="{{ metaobject.album_image | image_url: width: 300 }}" alt="">
  </p>
  <p>
      {{ metaobject.album_link }} 
  </p>
{% endfor %}


{% schema %}
  {
    "name": "Music metas",
    "settings": []
  }
{% endschema %}