{% for metaobject in shop.metaobjects.music.values %}
  <li>
      <img src="{{ metaobject.music_image | img_url }}" alt="{{ metaobject.music_image }}">
  </li>
{% endfor %}

{% schema %}
  {
    "name": "Music metas",
    "settings": []
  }
{% endschema %}