{% for metaobject in shop.metaobjects.music.values %}
  <li>
    {{ metaobject.name_of_album }}
  </li>
{% endfor %}

{% schema %}
  {
    "name": "Music metas",
    "settings": []
  }
{% endschema %}