{% for metaobject in shop.metaobjects.videos.values %}
  <h2>{{ metaobject.video_title }}</h2>
  <p>
    {% assign yt_id = metaobject.video_yt_id %}
    {{ yt_id }}
    {% comment %} 
    {% assign thumb_new = "https://img.youtube.com/vi/'.$yt_id.'/maxresdefault.jpg" %}
    {% $thumb_new = 'https://img.youtube.com/vi/'.$yt_id.'/maxresdefault.jpg'; %}
    <a class="link-video" data-fancybox="video-gallery" href="http://youtube.com/watch?v=">
      <div class="overlay"></div>
    </a>
    {% endcomment %} 
  </p>
{% endfor %}


{% schema %}
  {
    "name": "Videos metas",
    "settings": []
  }
{% endschema %}